<div id="banner-slideshow">
  <% Banner.visible.each do |banner| -%>
    <div class="banner">
      <div class="tagline"><%=banner.tagline%></div>
      <%if banner.target_url.empty?%>
        <%=image_tag( banner.image.url(:original)) %>
      <%else%>
        <%= link_to(image_tag(banner.image.url(:original)), banner.target_url) %>
      <%end%>
    </div>
  <%end -%>
</div>

<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
    $('#banner-slideshow').cycle({
		fx: 'fade', // choose your transition type, ex: fade, scrollUp, shuffle, etc...
		speed: 1000,
		timeout: 1000
	});
});
</script>
